body {
        background: white;
        margin: 0px;
        font: 14px Verdana;
        min-width: 960px;
}


h1 {
	float: left;
	margin: 15px 10px 20px 10px;
	font: 25px Verdana;
	color: white;
}

h2 {
        margin: 0;
	margin-bottom: 20px;
}

header {
        height: 60px;
}

#hlavicka {
	background: url('seda.png');
}

#datepairExample .time {
	width : 100px;
}

#datepairExample .date {
	width : 125px;
}

.cleaner {
        clear: both;
}


nav ul li:hover {
        background: url('cervena.png');
        box-shadow: 0px 5px 20px black;
}

.aktivni{
	background: url('cervena.png');
	box-shadow: 0px 5px 20px black;
}

.aktivni_sub{
    background: url('cervena.png');
    box-shadow: 0px 5px 0px black;
}


article {
    background: url('cervena.png');
    margin-top: 30px;
}

button:active {
    outline: none;
    border: none;
}

button:focus {
    outline:0;
}

button:hover {
	cursor: pointer;
}

.button1:focus{
    outline:0;
}


.center {
    margin: 0px auto;
    width: 960px;
}
nav ul {
        position:relative;
        list-style-type: none;
        float:left;
	margin: 0px;
	padding: 0px;
}

.button1{
    background: url('cervena.png');
    border: none;
    color: white;
    display: inline-block;
    font-size: 16px;
    padding: 16px 30px;
    width: 300px;
    outline: none;
    border: none;
    margin: 10px 0px;
}

.button1:hover {
	cursor: pointer;
}

.success{
    padding: 10px;
    background: greenyellow;
    color: brown;
    width: 100%;
}

.failure{
    padding: 10px;
    background: orangered;
    color: ivory;
    width: 100%;
}

#remove{
    display: none; 
}

#dis, #dis1, #dis2{
    display: none;

}

#zarovne{
    width: 300px;
    margin: 0 auto;
    text-align: left;
    font-style:inherit;
    font-size: 16px;
}

nav ul a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 20px;      
    line-height: 60px;
    padding:0 15px;
}

nav ul li {
    margin:0px;
    padding:0px;
    position:relative;
    float:left;
	
}

nav ul ul
{
    display:none;
    position:absolute;
    z-index: 1;
    top:100%;
    left:0;
    background:url('seda.png');
    padding:0
}

nav ul ul li
{
    float:none;
    width:200px
}

nav ul li ul li:hover {
    background: url('seda1.png');
    box-shadow: 0px 5px 0px black;
}

nav ul ul a
{
    line-height:120%;
    padding:10px 15px
}

nav ul li:hover > ul
{
    display:block
}



article header {
    margin-left: 30px;
    float: left;
}

#sirka {
    text-align: left;
}

#event{
    background: url(cervena.png);
    box-shadow: 2px 3px 1px #484646;
    padding: 10px;
}


article section {
        float: left;
        background: white;
        border: 2px solid grey;
        padding: 20px;
        margin: 10px;
        width: 895px;
        text-align: center;
}

div.text_l {
    width: 322px;
    margin: 0 auto 1em auto;
    padding: 1em;
    text-align: left;
}

a.button {
    background-color: #00b300;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 25px;
}

a.button1 {
    background-color: #b30000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 25px;
}

#index_sec{
    width: 550px;
}

a.button_a {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;

    display: inline-block;
    text-decoration: none;
    font-size: 25px;
    box-shadow: 0px 5px 20px black;
}

#filtr_zk {
    width: 230px;
}

input{
    width: 100%;
    padding: 10px 20px;
    display: inline-block;
    border: 1px solid gray;
    border-radius: 2px;
    box-sizing: border-box;
    margin: 10px 0;
}

.sl_style{
   border: none;
   font-size: 15px;
   margin: 10px;
   height: 50px;
   padding: 10px; /* If you add too much padding here, the options won't show in IE */
   width: 150px;
}
.sl_style_add{
border: none;
    font-size: 15px;
    margin: 10px 0px;
    height: 50px;
    padding: 10px;
    width: 300px;
}
.left{
    position:  relative;
    display:  block;
    float:  left;
}

.ui-datepicker-inline{
    margin: 0 auto;
}

label {
    width:  50px;
    margin-top: 9px;
}
table{
    border-collapse: collapse;
    margin: 0 auto;
}

table, th, td {
   border: 1px solid black;
   padding: 6px;
   max-width: 800px;
}

footer {
    margin-top: 40px;
    height: 60px;
    color: white;
    background: url('seda.png');
}
